.container {
  display: flex;
}

.calendario-container {
  padding: 20px;
  color: white;
  margin-left: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; /* Asegura que tenga al menos la altura de la pantalla */
  height: auto; /* Permite que se ajuste al contenido */
  overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es más grande */
}

/*planificación*/
.planificacion {
  display: flex;
  width: 90%;
  justify-content: first baseline;
  gap: 10px;
}

.archivo-info {
  display: flex;
  margin: 5px;
  align-items: center;
}

/*Fechas container*/
.fechas-container {
  
  overflow-y: scroll; /* Scroll vertical */
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
}

.fecha-selector {
  display: flex;
  width: 100%;
  justify-content: first baseline;
  align-items: center;
  gap: 50px;
}

.label-fechas{
  width: 350px;
}

#detalle {
  width: 70px;
}

.fecha-selector button {
  margin-top: 0;
  width: 30px;
  height: 60px;
}
