.container {
  display: flex;
}

.detalle-container {
  padding: 20px;
  color: white;
  margin-left: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; /* Asegura que tenga al menos la altura de la pantalla */
  height: auto; /* Permite que se ajuste al contenido */
  overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es más grande */
}


/*Objetivo*/
.objetivo-container {
  width: 90%;
}

.objetivo-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.objetivo-titulo button{
  width: 30px;
  height: 30px;
}

.objetivo {
  margin: 10px 0;
  width: 100%;
}

.objetivo textarea{
  color: white;
  background-color: #1E1E1E;
  width: 100%;
  height: 80px;
}

/*Archivos*/
.archivos-container {
  width: 90%;
}

.archivos-titulo{
  display: flex;
}

.archivos-titulo button{
  width: 30px;
}

.archivos{
  display: flex;
  flex-direction: column;
}

.otros{
  width: 100%;
  justify-content: center;
}

.fila-archivos{
  display: flex;
  width: 100%;
  gap: 10px;
}

.archivo-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

/*planilla*/
.planilla-container{
  width: 90%;
}
.planilla-titulo{
  width: 100%;
}
.styled-table{
  width: 100%;
  border: 1px solid white;
}

th {
  border: 1px solid white;
}

tr{
  background-color: #1E1E1E;
}

td {
  border: 1px solid white;
  padding: 5px;
}

.botones{
  display: flex;
  justify-content: center;
}

td a{
  margin-top: 0;
  width: none;
}

td button{
  margin-top: 0;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*semanal*/
.semanal-container {
  width: 90%;
}