.container {
    display: flex;
}
  
.menu {
    width: 80px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
  
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
}
  
.menu-button:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.imagen img:hover {
    transform: scale(1.1);
}
  
.menu-button.active {
    transform: scale(1.2);
    filter: brightness(1.2);
}
  
.content {
    display: flex;
    flex-direction: column;
    margin-left: 80px; /* Espacio para el menú */
    padding: 20px;
    color: white;
    width: 100%;
    justify-content: flex-start;
}

body {
    background-color: rgb(16, 16, 16);
}

/*contenido del home*/
.titulo-home {
    width: 100%;
    display: flex;
    text-align: left;
}

.proyectos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre proyectos */
    width: 100%;
}

.proyecto-item {
    display: flex;
    background-color: rgb(30,30,30);
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.proyecto-item-info {
    width: 90%;
}

.proyecto-item h2 {
    margin: 0;
    font-size: 1.2rem;
}

.proyecto-item p {
    margin: 5px 0 0;
}

.boton-fijo {
    position: fixed;
    bottom: 20px;  /* Distancia desde la parte inferior */
    right: 40px;   /* Distancia desde la parte derecha */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}
  
.boton-fijo button {
    padding: 10px 20px;
    background-color: rgb(254, 127, 45); /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.boton-fijo button:hover {
    background-color: rgb(255, 155, 90);
}
  
@media (max-width: 850px) {
    .content {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .proyectos-container {
        display: flex;
        flex-direction: column;
    }

    .imagen img {
        width: 25px;
        height: 35px;
    }

    .boton-fijo {
        position: fixed;
        top: 0;  /* Distancia desde la parte inferior */
        right: 0;   /* Distancia desde la parte derecha */
        z-index: 1000; /* Asegura que esté encima de otros elementos */
    }

    .crearproyectos-container {
        margin: 10px 0;
    }

    .proyecto-item-info {
        display: flex;
        width: 90%;
        font-size: 10px;
        justify-content: center;
        align-items: center;
    }
    .proyecto-item-info h2 {
        font-size: 15px;
    }
}

/*crear proyecto*/
.crearproyectos-container {
    padding: 20px;
    color: white;
    margin-left: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
.crearproyectos-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
.form-group label {
    font-size: 1rem;
  }
  
.form-group input[type="text"],
.form-group input[type="file"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.crearproyectos-container button {
    padding: 10px;
    background-color: rgb(254, 127, 45);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
.crearproyectos-container button:hover {
    background-color: rgb(255, 155, 90);
  }

  