.container {
	display: flex;
}
  
.evaluaciones-container {
	padding: 20px;
	color: white;
	margin-left: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh; 
	height: auto; 
	overflow-y: auto;
}
/*Contenedores*/
.evaluaciones-container {
	display: flex;
	gap: 15px;
}

.containeres {
	width: 95%;
	height: 200px;
}
/*Cabecera*/
.cabecera {
	padding: 10px;
	display: flex;
	align-items: center;
	height: 20px;
}

.titulo {
	width: 30%;
}

.botones {
	display: flex;
	flex-direction: row-reverse;
	width: 70%;
}

.cabecera button {
	margin-top: 0;
	width: 40px;
	height: 40px;
}

/*Cuerpo*/
.cuerpo {
	padding: 10px;
	display: flex;
	gap: 10px;
	height: 140px;
	padding: 10px;
	max-height: 140px; 
  	overflow-x: auto; /* Habilita el scroll horizontal */
  	overflow-y: hidden; /* Oculta el scroll vertical si no es necesario */
}

.ficha-evaluacion {
	background-color: #191919;
	width: 300px;
	min-width: 300px;
	padding: 5px;
	display: flex;
	gap: 5px;
	border-radius: 10px;
}

.nota {
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	border-radius: 10px;
}

.datos {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 5px;
}

.nombre {
	height: 30px;
	display: flex;
	align-items: center;
}

.botones-ficha{
	display: flex;
	flex-direction: column;
}

.eliminar-ficha {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  align-self: center;
	width: 30px;
	height: 30px;
}
