/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-[#E5E1C7] dark:bg-[#3D3D3D];
}

.bg-dark {
    background-color: #202020;
  }
  
  .text-light {
    color: #F2F0E3;
  }
  
  .bg-light {
    background-color: #F2F0E3;
  }
  
  .text-dark {
    color: #202020;
  }
  .alert-fixed {
    position: fixed !important;
    bottom: 16px; /* Ajusta la distancia desde el fondo */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999 !important; /* Asegura que la alerta esté por encima de todos los demás elementos */
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo */
  } 
  