* {
  color: white;
  padding: 0;
  margin: 0;
}

main {
  background-color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.contenedor-logo,
.contenedor-formulario {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input, select {
  font-size: 17px;
  height: 50px;
  background-color: rgb(30, 30, 30);
  margin: 10px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
}

/*evita que el estilo cambie cuando se autocimpleta un input*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(30, 30, 30) inset; /* Mantén el fondo oscuro */
  box-shadow: 0 0 0 1000px rgb(30, 30, 30) inset;
  -webkit-text-fill-color: white; /* Mantén el color del texto */
  border: none;
}

button {
  font-size: 17px;
  width: 90%;
  height: 50px;
  margin-top: 10px;
  background-color: rgb(254, 127, 45);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: height 0.3s;
}

form button{
  width: 100%;
}

button:hover {
  background-color: rgb(255, 155, 90);
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  margin-top: 2px;
}

.formulario p {
  margin-top: 20px;
}

hr {
  width: 90%;
  margin: 20px 0;
}

a {
  text-decoration: none;
}

.password-container {
  display: flex;
  width: 100%;
}

.password-container input {
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
}

.password-container button {
  width: 20%;
  height: 60px;
  background-color: rgb(30, 30, 30);
  border-radius: 0 5px 5px 0;
  border-left: 1px solid white;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  main {
    flex-direction: column;
  }

  .imagen img {
    width: 100px;
    height: 150px;
  }

  h1 {
    font-size: 30px;
  }

  .contenedor-formulario {
    width: 90%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative; /* Asegura que los elementos hijos con position:absolute se posicionen respecto a este contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.titulo-registro{
  display: flex;
  align-items: center;
  width: 90%;
  padding: 5px;
  color: white;
}

.titulo-registro h1{
  font-size: 40px;
  margin: 0;
}

#cerrar-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  margin: 0;
}

#cerrar-registro:hover {
  background-color: rgba(255, 255, 255, 0.1);
}