.container {
	display: flex;
}
  
.evaluaciones1-container {
	padding: 20px;
	color: white;
	margin-left: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh; 
	height: auto; 
	overflow-y: auto;
    gap: 10px;
}

/*Cabecera*/
.cabecera1 {
    width: 95%;
    height: 150px;
}
/*Cuerpo*/
.cuerpo1 {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.evaluacion1 {
    width: 360px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descripcion1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nota1 {
    display: flex;
    gap: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.nota1 button {
    background-color: #191919;
    height: 30px;
    cursor: pointer;
}

.nota1 button:hover {
    background-color: #4a47fc; /* Color de fondo al pasar el mouse */
}

.nota-seleccionada {
    background-color: #4a47fc; /* Color celeste para el botón seleccionado */
    color: white;
    border: 1px solid #4a47fc; /* Borde para botón seleccionado */
}


.justificacion1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.justificacion1 textarea{
    color: white;
    background-color: #191919;
    width: 97%;
    height: 120px;
    resize: none;
}

/*Pie*/
.pie1 {
    width: 95%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.pie1 button {
    margin-top: 0;
    width: 50%;
}