.planilla-titulo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.planilla-titulo button{
    width: 30px;
    height: 30px;
}

.planilla {
    margin: 10px 0;
}

.botones {
    gap: 5px;
}